* {
	min-height: 20px;
	font-size: 20px;
	font-family: monospace, FontAwesome;
	border: 2px;
	border-radius: 0.4rem;
}

.horizontal {
	padding: 2px;
}

window#waybar {
	background: transparent;
	color: #fcfcfc;
}

#custom-clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray,
#custom-logout {
	padding: 0 10px;
	margin-left: 10px;
	color: #fcfcfc;
}

#custom-clock {
	background: #b3b3b3;
	color: #050505;
}

#pulseaudio {
	background: #00ced1;
}

#memory {
	background: #006400;
}

#cpu {
	background: #8b0000;
}
#battery {
	background: #859900;
}
#disk {
	background: #e4a010;
}

#custom-logout {
 font-size: 15px;
}

#tray {
	background: #111a1a;
}

#custom-logout {
	background: #8b008b;
}

#workspaces button {
	margin: 0px 2px;
	padding: 0.5rem;
	background: #050505;
	border-radius: 0.4rem;
	color: #fcfcfc;
}
#workspaces button:hover {
	transition: none;
	color: #e4a010;
	background: #050505;
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button.focused {
	background: #e4a010;
}
#workspaces button.focused:hover {
	background: #fcfcfc;
	color: #e4a010;
}
#workspaces button.urgent {
	background: #8b0000;
}

