[Desktop Entry]
Type=Application
Name=Mastodon
Comment=Mastodon Web
Exec=google-chrome-stable --enable-features=UseOzonePlatform --ozone-platform=wayland --app=https://mastodon-belgium.be
