[Desktop Entry]
Type=Application
Name=WhatsApp
Comment=WhatsApp Web
Exec=google-chrome-stable --enable-features=UseOzonePlatform --ozone-platform=wayland --app=https://web.whatsapp.com/
